:root {
  --grey-light: #F5F5F5;
  --black: #505051;
  --black-rich: #000;
  --blue: #3782FF;
  --color-action: #3782FF;
  --color-action-hover: #1762FF;
  --color-background: #F5F5F5;
  --color-error: #E4500B;
  --color-error-background: #F9DCCE;
  --color-knockout: #fff;
  --color-shadow: rgba(0,0,0,.2);
  --color-text: #505051;
  --color-text-bold: #000;
  --color-text-light: #aBaBaB;
}
