:root {
  --gutter: 20px;
  --gutter-narrow: 20px;
  --gutter-wide: 60px;
  --site-margin: 20px; // if updating also update teaser

  @media (min-width: $bp--medium) {
    --gutter: 40px;
    --gutter-wide: 80px;
    --site-margin: 60px;
  }
}
