.device {
  display: inline-block;
  box-shadow: $shadow;
  line-height: 0;

  @media screen and (min-width: $bp--medium) {
    box-shadow: 0 15px 50px -5px transparentize($black--rich, .8);
  }

  &--desktop {
    border-radius: 3px;

    &::before {
      background: $c--knockout url('/assets/images/ui/ovals@2x.png') no-repeat 10px center;
      background-size: 34px;
      border-bottom: 1px solid $c--border;
      content: '';
      display: block;
      height: 28px;
    }
  }
}
