// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Variables
//  - Containers
//  - Layout
//  - Inputs
//  - Label
//  - Errors
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Variables
// -----------------------------------------------------------------------------

$_gutter: 4px;

// -----------------------------------------------------------------------------
// !-- Container
// -----------------------------------------------------------------------------

.field {
  display: block;
  width: 100%;
}

// -----------------------------------------------------------------------------
// !-- Layout
// -----------------------------------------------------------------------------

.field__layout {
  align-items: center;
  border: 1px solid $c--border--input;
  border-radius: $borderRadius;
  display: flex;
  padding: $_gutter;
  padding-left: 0;
}

.field__layout-main {
  flex: 1 1;
}

.field__layout-action {
  flex: 0 0;
}

// -----------------------------------------------------------------------------
// !-- Input
// -----------------------------------------------------------------------------

.field__input {
  border: 1px solid $c--border--input;
  border-radius: $borderRadius;
  font-size: $fontSize;
  line-height: 1;
  padding: ((36px - $fontSize) / 2) 1em;
  width: 100%;

  &::placeholder {
    color: $c--border--input;
    font-style: italic;
  }

  &:focus,
  &:hover {
    border-color: $c--link;
    outline: 0;
  }

  &.is--dirty:invalid {
    border-color: $c--notice--warning;
  }
}

.field__input--borderless {
  &,
  &.is--dirty:invalid,
  &:focus,
  &:hover {
    border-color: transparent;
  }
}

// -----------------------------------------------------------------------------
// !-- Label
// -----------------------------------------------------------------------------

.field__label {
  display: block;
  font-size: $fontSize--small;
  font-weight: $bold;
  margin: 0 0 $_gutter;
}

// -----------------------------------------------------------------------------
// !-- Errors
// -----------------------------------------------------------------------------

.field__error {
  color: $c--notice--warning;
  font-size: $fontSize--small;
  font-style: italic;
  margin: $_gutter 0 0;
}
