/* =============================================================================
    Iconed Text

    Table of Contents
    - Container
    - Text
    - Icon

  =========================================================================== */

/* -----------------------------------------------------------------------------
    !-- Container
  --------------------------------------------------------------------------- */

.iconed-text {
  align-items: center;
  display: flex;
  vertical-align: middle;
  width: max-content;
}

/* -----------------------------------------------------------------------------
    !-- Text
  --------------------------------------------------------------------------- */

.iconed-text__text {
  display: inline;
  font-size: $fontSize--small;
  opacity: .7;
}

/* -----------------------------------------------------------------------------
    !-- Icon
  --------------------------------------------------------------------------- */

.iconed-text__icon {
  $_margin: .4em;

  &:first-child {
    margin-right: $_margin;
  }

  &:last-child {
    margin-left: $_margin;
  }
}
