// =============================================================================
// Table of Contents
//
//  - Containers
//  - Items
//  - Elements
//
// =============================================================================

// TODO: Add to style guide

// -----------------------------------------------------------------------------
// !-- Containers
// -----------------------------------------------------------------------------

.list {
  list-style: none;
  margin: 1em 0;
  padding: 0;

  &--slash {

  }
}

// -----------------------------------------------------------------------------
// !-- Items
// -----------------------------------------------------------------------------

.list__item {

  &--slash {
    display: inline;

    &::after {
      content: '/';
      margin-left: .25em;
    }

    &:last-child::after {
      display: none;
      content: '';
    }
  }
}

// -----------------------------------------------------------------------------
// !-- Elements
// -----------------------------------------------------------------------------

.list__category {
  margin-right: 1em;
}
