/* =============================================================================
    Nav

    Table of Contents
    - Container
    - Elements

  =========================================================================== */


/* -----------------------------------------------------------------------------
    !-- Container
  --------------------------------------------------------------------------- */

.nav {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  &--right-aligned {
    justify-content: flex-end;
  }
}

/* -----------------------------------------------------------------------------
    !-- Elements
  --------------------------------------------------------------------------- */

.nav__item {
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-right: $gutter--small;

    @media screen and (min-width: $bp--medium) {
      margin-right: $gutter;
    }
  }
}

.nav__link {
  @include nav-link();
}
