/* =============================================================================
    Site Header

    Table of Contents
    - Extends
    - Container
    - Logo
    - Nav
    - Actions

  =========================================================================== */

%header-navs {
  display: none;

  @include media($bp--medium) {
    display: block;
    flex: 0 1 50%;
  }
}

/* -----------------------------------------------------------------------------
    !-- Container
  --------------------------------------------------------------------------- */

.site-header {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: $gutter ($gutter / 2);
  position: relative;

  @include media($bp--medium) {
    margin: 0 0 $gutter;
    padding: $gutter--large ($gutter / 2) $gutter;
  }
}

/* -----------------------------------------------------------------------------
    !-- Logo
  --------------------------------------------------------------------------- */

.site-header__logo {

  @include media($bp--medium) {
    flex: 0 0 auto;
    order: 2;
  }
}

/* -----------------------------------------------------------------------------
    !-- Nav
  --------------------------------------------------------------------------- */

.site-header__nav {
  @extend %header-navs;

  @include media($bp--medium) {
    order: 1;
    padding-right: $gutter;
  }
}

/* -----------------------------------------------------------------------------
    !-- Actions
  --------------------------------------------------------------------------- */

.site-header__actions {
  @extend %header-navs;

  @include media($bp--medium) {
    order: 3;
    padding-left: $gutter;
  }
}

/* -----------------------------------------------------------------------------
    !-- Menu
  --------------------------------------------------------------------------- */

.site-header__menu-trigger {
  @include nav-link();
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  @include media($bp--medium) {
    display: none;
  }
}
