/*doc
---
title: Site Footer
---

This is the footer for the website

```haml_example
%footer.site-footer
  .site-footer__links
    Links module goes here
  .site-footer__legal
    Copyright stuff goes here
```
*/

.site-footer {
  background: $white--bone;
  padding: $sectionPadding--large 0 $sectionPadding;
}

.site-footer__links {
  margin: $sectionPadding 0;
}

.site-footer__legal {
  margin-top: $sectionPadding--large;
}
