// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Block
//  - Elements
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Block
// -----------------------------------------------------------------------------

.vcard {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-gap: 1em;
  width: 100%;
}

// -----------------------------------------------------------------------------
// !-- Elements
// -----------------------------------------------------------------------------

.vcard__media {
  order: 1;
}

.vcard__content {
  order: 2;
}
