.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

.site__header {
  padding: 30px 20px 60px;
}

.site__main {
  flex: 1;
}

@media screen and (min-width: 600px) {
  .site__header {
    padding-bottom: 80px;
  }
}
