.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

.site__header {
  padding: 30px 20px 60px;
}

.site__main {
  flex: 1;
}

.site__footer {
  margin-top: var(--gutter-wide);
  padding-bottom: var(--gutter);
}

@media screen and (min-width: $bp--medium) {
  .site__header {
    padding-bottom: 80px;
  }
}
