/* -----------------------------------------------------------------------------
    !-- Container
  --------------------------------------------------------------------------- */

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

/* -----------------------------------------------------------------------------
    !-- Header
  --------------------------------------------------------------------------- */

.site__header {
  padding: 30px var(--site-margin) var(--site-margin);
  text-align: center;

  @media (min-width: $bp--medium) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

/* -----------------------------------------------------------------------------
    !-- Main
  --------------------------------------------------------------------------- */

.site__main {
  flex: 1;
}

/* -----------------------------------------------------------------------------
    !-- Footer
  --------------------------------------------------------------------------- */

.site__footer {
  margin: var(--gutter-wide) 0;
  padding: var(--site-margin);
}
