$_bp_featured: 850px;

.teaser {
  margin: 0 -20px; // site-pad variable
  width: 100vw;

  @media (min-width: 490px) {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
  }

  &.teaser--featured {
    @media (min-width: $_bp_featured) {
      align-items: center;
      display: flex;
      max-width: 100%;
    }
  }
}

.teaser__media {
  display: block;
  position: relative;
  height: 0;
  padding-top: percentage(9/16);

  &.teaser__media--featured {
    height: auto;
    padding: 0;

    @media (min-width: $_bp_featured) {
      flex: 0 0 50%;
      order: 2;
    }
  }
}

.teaser__image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.teaser__icon {
  background: var(--color-knockout);
  border-radius: 50%;
  fill: var(--blue);
  box-shadow: 0 0 20px rgba(0,0,0,.4), inset 0 0 0 3px var(--blue); // inset used to avoid white spotting around edge of icon
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 44px;
  width: 44px;
}

.teaser__content {
  text-align: center;
  padding: var(--gutter-narrow) var(--gutter-narrow) 0;

  &.teaser__content--featured {
    @media (min-width: $_bp_featured) {
      flex: 0 0 50%;
      padding: 0 var(--gutter-wide) 0 0;
    }
  }
}
