/* =============================================================================
    Nav

    Table of Contents
    - Container
    - Items

  =========================================================================== */

/* -----------------------------------------------------------------------------
    !-- Container
  --------------------------------------------------------------------------- */

.nav {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
}

/* -----------------------------------------------------------------------------
    !-- Items
  --------------------------------------------------------------------------- */

.nav__item {
  font-size: var(--h6-size);
  padding-right: var(--gutter-narrow);

  &:last-child {
    padding-right: 0;
  }
}
