// =============================================================================
// Table of Contents
//
//  - Variables
//  - Text
//  - Widgets
//  - Misc
//
// =============================================================================

// -----------------------------------------------------------------------------
// !-- Variables
// -----------------------------------------------------------------------------

$_tilt: 2deg;

// -----------------------------------------------------------------------------
// !-- Text
// -----------------------------------------------------------------------------

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.text--nowrap {
  white-space: nowrap;
  margin-left: .5em;
  margin-right: .5em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

// -----------------------------------------------------------------------------
// !-- Widgets
// -----------------------------------------------------------------------------

twitterwidget {
  margin-left: auto;
  margin-right: auto;
}

// -----------------------------------------------------------------------------
// !-- Misc
// -----------------------------------------------------------------------------

.u--tilt-right {
  @media screen and (min-width: $bp--medium) {
    transform: rotate($_tilt);
  }
}

.u--tilt-left {
  @media screen and (min-width: $bp--medium) {
    transform: rotate($_tilt * -1);
  }
}

.u--center {
  margin-left: 0;
  margin-right: 0;
}
