html {
  font-size: 100%;
}

body {
  background: $c--knockout;
  color: $c--body-text;
  font-family: $sansSerif;
  font-weight: $normal;
  font-size: $baseSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $rhythm * 3;
  text-rendering: optimizeLegibility;
  widows: 2;
}

.body--not-scrollable {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
