// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Image
//  - SVG
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Image
// -----------------------------------------------------------------------------

img {
  max-width: 100%;
}

.img--rounded {
  border-radius: 50%;
}

.img--shadowed {
  box-shadow: $shadow;

  @media screen and (min-width: $bp--medium) {
    box-shadow: 0 15px 50px -5px transparentize($black--rich, .8);
  }
}

// -----------------------------------------------------------------------------
// !-- SVG
// -----------------------------------------------------------------------------

svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
  display: inline;
}

.embed {
  border: 1px solid $c--border;
}
