.l--columns--small {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.l--columns--vertically-centered {
  align-items: center;
}

.l--columns__column {
  margin: 30px 0;
}

.l--columns__column--small {
  flex: 1 1 100%;
  margin-bottom: 0;
  margin-top: 0;
  padding-right: 10px;
}
.l--columns__column--small:last-child {
  padding-right: 0;
}
.l--columns__column--small:only-child {
  padding-left: 0;
  padding-right: 0;
}
.l--columns__column--one-third {
  flex-basis: 33.33333%;
}
.l--columns__column--half {
  flex-basis: 50%;
}
.l--columns__column--one-thirds {
  flex-basis: 66.66666%;
}

@media screen and (min-width: $bp--medium) {
  .l--columns {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .l--columns--spaced {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .l--columns--spaced:first-child {
    margin-top: 0;
  }
  .l--columns--spaced:last-child {
    margin-bottom: 0;
  }

  .l--columns__column {
    flex: 1 1 100%;
    margin: 0;
    padding-right: 30px;
  }
  .l--columns__column:last-child {
    padding-right: 0;
  }
  .l--columns__column:only-child {
    padding-left: 0;
    padding-right: 0;
  }
  .l--columns__column--one-third {
    flex-basis: 33.33333%;
  }
  .l--columns__column--one-thirds {
    flex-basis: 66.66666%;
  }

  .l--columns__column--last-medium-up {
    padding-left: 30px ;
    padding-right: 0;
    order: 99;
  }
}
@media screen and (min-width: $bp--large) {
  .l--columns--break-grid {
    margin-left: -70px;
    margin-right: -70px;
    width: calc(100% + 140px);
  }
}
