.u--is-hidden {
  display: none;
}

.u--is-visible {
  display: initial;
}

@media screen and (min-width: $bp--medium) {
  .u--is-medium-hidden {
    display: none;
  }

  .u--is-medium-visible {
    display: initial;
  }
}

.is--hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
