// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Container
//  - Items
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// !-- Container
// -----------------------------------------------------------------------------

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: $gutter--small;
  width: 100%;

  @media screen and (min-width: $bp--medium) {
    grid-gap: $gutter--large;
  }

  &--v-center {
    align-items: center;
  }
}

.grid--2up {
  @media screen and (min-width: $bp--medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid--2up-big-left {
  @media screen and (min-width: $bp--medium) {
    grid-template-columns: 14fr 10fr;
  }
}

.grid--2up-big-right {
  @media screen and (min-width: $bp--medium) {
    grid-template-columns: 10fr 14fr;
  }
}

.grid--3up {
  @media screen and (min-width: $bp--medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid--4up {
  @media screen and (min-width: $bp--medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid--5up {
  @media screen and (min-width: $bp--medium) {
    grid-template-columns: repeat(5, 1fr);
  }
}

// -----------------------------------------------------------------------------
// !-- Items
// -----------------------------------------------------------------------------

.grid__item {
  order: 2;
}

.grid__item--first {
  order: 1;
}

.grid__item--first-small-only {
  order: 1;

  @media screen and (min-width: $bp--medium) {
    order: 2;
  }
}
