// =============================================================================
// Table of Contents
//
//  - Extends
//  - Block
//  - Individual Icons
//
// =============================================================================

// -----------------------------------------------------------------------------
// !-- Extends
// -----------------------------------------------------------------------------

%ratio-1-1 {
  height: 1em;
  width: 1em;
}

// -----------------------------------------------------------------------------
// !-- Block
// -----------------------------------------------------------------------------

.icon {
  font-size: 1em;

  &--large {
    font-size: 24px;
  }

  &--xlarge {
    font-size: 32px;
  }
}

// -----------------------------------------------------------------------------
// !-- Individual Icons
// -----------------------------------------------------------------------------

.icon {
  height: 1em;
  width: 1em;

  &--circle-x {
    // 1-1 ratio
  }

  &--compass {
    // 1-1 ratio
  }

  &--dribbble {
    height: 1em;
    width: (26/27) * 1em; // width / height
  }

  &--email {
    height: 1em;
    width: (32/22) * 1em;
  }

  &--github {
    // 1-1 ratio
  }

  &--laptop {
    height: 1em;
    width: (16/10) * 1em;
  }

  &--linkedin {
    // 1-1 ratio
  }

  &--lock {
    height: 1em;
    width: (28/24) * 1em;
  }

  &--map {
    // 1-1 ratio
  }

  &--pencil {
    // 1-1 ratio
  }

  &--twitter {
    height: 1em;
    width: (26/32) * 1em;
  }

  &--wireframe {
    // 1-1 ratio
  }

  &--zoom {
    // 1-1 ratio
  }
}
