/* =============================================================================
    logo

    Table of Contents
    - Container
    - Image

  =========================================================================== */

/* -----------------------------------------------------------------------------
    !-- Container
  --------------------------------------------------------------------------- */

.logo {
  display: block;
  line-height: 0;
  width: 40px;

  @include media($bp--medium) {
    width: 50px;
  }
}

/* -----------------------------------------------------------------------------
    !-- Image
  --------------------------------------------------------------------------- */

.logo__image {
  
}
