/*doc
---
title: Social Icons
---

Displays icons stacked with a caption

```haml_example
= link_to "#", class: "social-icon" do
  %svg.social-icon__icon
    %use{'xlink:href': "#{image_path('icons.svg')}#twitter"}
  .social-icon__caption
    Twitter
```

*/

// -----------------------------------------------------------------------------
// !-- Variables
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// !-- Containers
// -----------------------------------------------------------------------------
.social-icon {
  color: $navy;
  display: block;
  text-align: center;

  &:focus,
  &:hover {
    color: $c--link--highlight;
    text-decoration: none;
  }
}


// -----------------------------------------------------------------------------
// !-- Icons
// -----------------------------------------------------------------------------

.social-icon__icon {
  color: inherit;
  display: inline-block;
  font-size: 32px;
  width: 1em;
}

// -----------------------------------------------------------------------------
// !-- Captions
// -----------------------------------------------------------------------------

.social-icon__caption {
  display: block;
  margin: $rhythm/2 0;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  &:first-child {
    margin-top: 0;
  }
}
