// -----------------------------------------------------------------------------
// Table of Contents
//
//  - import
//  - Variables
//  - Extends
//  - Grid
//  - Helpers
//  - Header
//  - Sections
//  - Components
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Imports
// -----------------------------------------------------------------------------

@import "00-shared/00-variables/colors";
@import "00-shared/00-variables/sizes";
@import "00-shared/00-variables/text";

// -----------------------------------------------------------------------------
// !-- Variables
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Extends
// -----------------------------------------------------------------------------

%text {
  font-family: $monospace;
}

// -----------------------------------------------------------------------------
// !-- Grid
// -----------------------------------------------------------------------------

.sg--grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: $gutter;
  width: 100%;

  @media screen and (min-width: $bp--medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $bp--xlarge) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sg--grid--single {
  @media screen and (min-width: $bp--medium) {
    grid-template-columns: 100%;
  }

  @media screen and (min-width: $bp--xlarge) {
    grid-template-columns: 100%;
  }
}

// -----------------------------------------------------------------------------
// !-- Helpers
// -----------------------------------------------------------------------------

.sg--box {
  background: $gray;
  min-height: 200px;
  width: 100%;
}

.sg--bar {
  background: $gray;
  color: $c--knockout;
  padding: .5em;
  width: 100%;
}

.sg--bg {
  background: $gray;
  color: $c--knockout;
  display: inline-block;
  padding: .5em;
}

// -----------------------------------------------------------------------------
// !-- Header
// -----------------------------------------------------------------------------

.sg--header {
  background: $c--brand--primary;
  padding: $gutter/2;
}

.sg--header__logo-image {
  margin-right: $gutter/2;
  width: 20px;
}

.sg--header__title {
  @extend %text;
  display: inline;
  font-size: 24px;
  font-weight: $normal;
  line-height: 1;
}

// -----------------------------------------------------------------------------
// !-- Sections
// -----------------------------------------------------------------------------

.sg--section {
  box-sizing: border-box;
  overflow: hidden;
  padding: $gutter $gutter $gutter*2;
  position: relative;

  &::after {
    background: $white--bone;
    bottom: 0;
    border: 0 solid darken($white--bone, 5%);
    border-bottom-width: 1px;
    border-top-width: 1px;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &:last-child {
    padding-bottom: $gutter;

    &::after {
      display: none;
    }
  }
}

.sg--section__title {
  @extend %text;
  border-bottom: 1px solid $c--border;
  font-size: 22px;
  font-weight: $normal;
  margin: $gutter*1.5 0 $gutter;
  padding-bottom: $gutter/2;

  &:first-child {
    margin-top: 0;
  }
}

// -----------------------------------------------------------------------------
// !-- Components
// -----------------------------------------------------------------------------

.sg--component {

}

.sg--component__color {
  background: #000;
  color: rgba(255,255,255,.8);
  font-family: $monospace;
  font-size: 14px;
  line-height: 60px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.sg--component__color--knockout {
  border: 1px solid darken($white--bone, 5%);
  color: rgba(0,0,0,.8);
}

.sg--component__example {
  margin-top: .5em;

  &--full {
    transform: translateX($gutter * -1);
    width: calc(100% + #{$gutter * 2});
  }
}

.sg--component__notes {
  @extend %text;
  color: $gray;
}

.sg--component__name {
  @extend %text;
  font-weight: $bold;
}
