// Breakpoints are written mobile-first style and represent the end-point.
$bp--small: 400px;
$bp--medium: 700px;
$bp--large: 1000px;
$bp--xlarge: 1400px;

$touchTarget: 40px;

$rhythm: 8px;
$sitePadding: 20px;
$sectionPadding: $rhythm * 6;
$sectionPadding--large: $rhythm * 12;

$gutter: 40px;
$gutter--large: 80px;
$gutter--small: 20px;

$borderRadius: 3px;

$site--maxWidth: 1200px;
