.l--matrix {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: var(--gutter-wide);
  grid-column-gap: var(--gutter);

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.l--matrix__item {

}
