.bio {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.bio__media {
  flex: 0 0 100px;
  margin-right: var(--gutter);
}

.bio__image {
  border-radius: 50%;
}

.bio__name {
  color: var(--color-text-bold);
  font-weight: 700;
  text-decoration: none;
}

.bio__description {

}
