// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Extends
//  - Containers
//  - Items
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// !-- Extends
// -----------------------------------------------------------------------------

%list-margin {
  margin: 1em;

  &:first-child {
    margin-bottom: 0;
    margin-top: 0;
  }
}

// -----------------------------------------------------------------------------
// !-- Containers
// -----------------------------------------------------------------------------

ul {
  @extend %list-margin;
  list-style: disc;
  margin-right: 1.3em;
}

ol {
  @extend %list-margin;
  list-style: decimal;
  margin-right: 1.5em;
}

// -----------------------------------------------------------------------------
// !-- Items
// -----------------------------------------------------------------------------

li{
  margin: .5em 0;
}
