// =============================================================================
// Table of Contents
//
//  - Container
//  - Rows
//  - Cells
//
// =============================================================================

// -----------------------------------------------------------------------------
// !-- Container
// -----------------------------------------------------------------------------

table {
  width: auto;
}

// -----------------------------------------------------------------------------
// !-- Rows
// -----------------------------------------------------------------------------

tr {
  // TK
}

// -----------------------------------------------------------------------------
// !-- Cells
// -----------------------------------------------------------------------------

th,
td {
  font-size: $fontSize--small;
  text-align: left;
  padding: .5em;
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-left: 0;
  }

  :first-child > & {
    padding-top: 0;
  }

  :last-child > & {
    padding-bottom: 0;
  }
}

th {
  font-weight: $bold;
  color: $c--body-text--bold;
}
