// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Headings
//  - Blocks
//  - Inline
//  - Links
//
// -----------------------------------------------------------------------------

/* ==========================================================================
   Headings
   ========================================================================== */
%textMargins {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

%headingLink {
  a {
    color: inherit;

    &:hover,
    &:focus {
      color: $c--link--highlight;
      text-decoration: none;
    }
  }
}

h1 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--heading - 4px, $lineHeight: ($rhythm * 6.5), $marginSize: ($rhythm * 2));
  color: $c--headline;
  margin-top: 0;

  @include media($bp--medium) {
    font-size: $fontSize--heading;
  }
}

h2 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--subHeading - 4px, $lineHeight: ($rhythm * 4.5), $marginSize: ($rhythm * 2));
  color: $c--headline;

  @include media($bp--medium) {
    font-size: $fontSize--subHeading;
  }
}

h3 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--large, $lineHeight: ($rhythm * 3), $marginSize: ($rhythm * 2));
  color: $c--headline;
}

h4 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize, $lineHeight: ($rhythm * 2.5), $marginSize: ($rhythm * 2));
  color: $c--headline;
  text-tranform: uppercase;
}

h5 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--small, $lineHeight: ($rhythm * 2), $marginSize: ($rhythm * 2));
  color: $gray--light;
}

h6 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--xSmall, $lineHeight: ($rhythm * 2), $marginSize: ($rhythm * 2), $fontFamily: $sansSerif);
  color: $gray--light;
  text-transform: uppercase;
}

// TODO: DRY up the heading classes

.h1 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--heading - 4px, $lineHeight: ($rhythm * 6.5), $marginSize: ($rhythm * 2));
  color: $c--headline;
  margin-top: 0;

  @include media($bp--medium) {
    font-size: $fontSize--heading;
  }
}

.h2 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--subHeading - 4px, $lineHeight: ($rhythm * 4.5), $marginSize: ($rhythm * 2));
  color: $c--headline;

  @include media($bp--medium) {
    font-size: $fontSize--subHeading;
  }
}

.h3 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--large, $lineHeight: ($rhythm * 3), $marginSize: ($rhythm * 2));
  color: $c--headline;
}

.h4 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize, $lineHeight: ($rhythm * 2.5), $marginSize: ($rhythm * 2));
  color: $c--headline;
  text-tranform: uppercase;
}

.h5 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--small, $lineHeight: ($rhythm * 2), $marginSize: ($rhythm * 2));
  color: $c--headline--light;
}

.h6 {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--xSmall, $lineHeight: ($rhythm * 2), $marginSize: ($rhythm * 2), $fontFamily: $sansSerif);
  color: $c--headline--light;
  text-transform: uppercase;
}

.text--large,
.heading-intro {
  @extend %textMargins;
  @extend %headingLink;
  @include heading($size: $fontSize--large, $lineHeight: ($rhythm * 4.5), $marginSize: ($rhythm * 2), $fontFamily: $sansSerif, $fontWeight: $light);
  color: $c--headline;
  margin: 1em 0 1.5em;
}

.text--large {
  margin: 0;
}

.heading-section {
  @extend %textMargins;
  @extend %headingLink;
  color: $c--headline;
  font-family: $sansSerif--condensed;
  font-size: $fontSize--small;
  font-weight: $bold;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  &::after {
    content: "";
    display: block;
    border-bottom: 5px solid currentColor;
    margin: .5em auto $gutter--small;
    width: 100px;
  }

  &:last-child::after {
    margin-bottom: 0;
  }

  &--knockout {
    color: $c--knockout;

    &::after {
      border-color: $c--knockout;
    }
  }
}


/* ==========================================================================
   Blocks
   ========================================================================== */

p {
  @extend %textMargins;
  line-height: $rhythm * 4;
}

pre {
  background: #fff;
  border: 1px solid #ddddd9;
  padding: $rhythm * 3;
  margin: ($rhythm * 3) 0;
}

blockquote {
  margin: ($rhythm * 6) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.text--small {
  font-size: $fontSize--small;
  line-height: $rhythm * 3;
}

.text--xsmall {
  color: $gray;
  font-size: $fontSize--xSmall;
  line-height: $rhythm * 3;
}

/* ==========================================================================
   Inline
   ========================================================================== */

b,
strong {
  color: $c--body-text--bold;
  font-weight: $bold;
}

i,
em {
  font-style: italic;
}

small {
  color: $c--body-text--light;
  font-size: .75em;
}

code {
  color: $orange;
  font-family: $monospace;
  font-weight: $normal;
}

q {

  &::after,
  &::before {
    font-family: Georgia, serif;
  }

  &::before {
    content: "“"
  }

  &::after {
    content: "”"
  }
}

cite {
  display: block;
  font-size: $baseSize;
  font-style: italic;
  margin-top: 1em;


  &:before {
    content: "–";
  }
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: $c--link;
  text-decoration: none;
  transition: color $duration $easeInOut;

  &:hover, &:focus{
    outline: 0 none transparent;
    text-decoration: underline;
  }
}

.link {

  &--blend-in{
    color: inherit;
  }
}
