$baseSize: 16px;
$baseSize--article: 18px;

$sansSerif: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$sansSerif--condensed: "Open Sans Condensed", "Arial Narrow", "Helvetica Neue", sans-serif;
$monospace: monospace;


$bold: 700;
$light: 300;
$normal: 400;


$fontSize--heading: 48px;
$fontSize--subHeading: 32px;
$fontSize--large: 24px;
$fontSize: $baseSize;
$fontSize--small: 14px;
$fontSize--xSmall: 12px;
